# ---------- Python ----------
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
back_env/
**/venv/
**/back_env/

# Environment variables
.env
**/.env

# ---------- Node.js ----------
**/node_modules/
**/.next/
npm-debug.log*
yarn-error.log*

# ---------- VS Code ----------
.vscode/

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Python cache ----------
.pytest_cache/
.mypy_cache/

# ---------- Build ----------
dist/
build/